<!-- <div *ngIf='response'>
    <div *ngIf='movies'>
        <div *ngFor = 'let movie of movies'>
           {{movie.title}} | {{movie.release_date}}
          </div>
    </div>
</div>
<div *ngIf='movie'>
  {{movie.title}}
</div>
<div *ngIf='genres'>
   <div *ngFor = 'let genre of genres'>
     {{genre.name}}
   </div>
</div> -->
<div class="movies-container">
    <div *ngIf='movies'>
            <div id="wrapper">

                    <span id="controlL" class="left-controls" role="button" aria-label="See Previous Modules" (click)="controlLClicked()">
                        <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>
                    </span>
                
                    <div class="title text-center h1">Module Selection Area</div>
                
                    <div class="module-section clearfix">
                        <!-- <button class="btn arrow-guides fa-chevron-left"></button> -->
                        <ul id="content">
                
                            <li *ngFor = 'let movie of movies' class="card effect1">
                                <div class="inside-top">
                                    <movie-card [movie]='movie'></movie-card>
                                </div>
                            </li>
                
                        </ul>
                    </div><!--end of module-section-->
                
                    <span id="controlR" class="right-controls" role="button" aria-label="See Previous Modules">
                        <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true" (click)="controlRClicked()"></b>
                    </span>
                    <!-- <button class="btn arrow-guides-right fa-chevron-right"></button> -->
                
                
                
                </div>
</div>
